body {
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: #eee;
}

.titles {
  word-wrap:break-word;
}


.flash {
  background: #cee5F5;
  padding: 0.5em;
  border: 1px solid #aacbe2;
}

.error {
  background: #f0d6d6;
  padding: 0.5em;
}